<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3>Product Edit</h3>
                        <router-link :to="{name: 'product-list'}" class="btn btn-success">Product List</router-link>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="updateProduct">
                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label for="name" class="col-sm-2 col-form-label">Product Name</label>
                                <div class="col-sm-6">
                                    <input type="text" v-model="productForm.name" name="name" class="form-control" :class="{ 'is-invalid': productForm.errors.has('name') }" id="name" placeholder="Insert Product Name">
                                    <has-error :form="productForm" field="name"></has-error>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label for="category_id" class="col-sm-2 col-form-label">Product Category</label>
                                <div class="col-sm-6">
                                    <select name="category_id" class="custom-select" id="category_id" v-model="sort" @change="filter">
                                        <option disabled  >Choose...</option>
                                        <option v-for="category in categories" :value="category.id">{{category.name}}</option>
                                    </select>
                                    <has-error :form="productForm" field="category_id"></has-error>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label for="price" class="col-sm-2 col-form-label">Price</label>
                                <div class="col-sm-6">
                                    <input type="text" v-model="productForm.price" name="price" class="form-control" :class="{ 'is-invalid': productForm.errors.has('price') }" id="price" placeholder="Insert Product Price">
                                    <has-error :form="productForm" field="price"></has-error>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
                                <div class="col-sm-6">
                                    <input type="text" v-model="productForm.quantity" name="quantity" class="form-control" :class="{ 'is-invalid': productForm.errors.has('quantity') }" id="quantity" placeholder="Insert Product Quantity">
                                    <has-error :form="productForm" field="quantity"></has-error>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label for="description" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-6">
                                    <input type="text" v-model="productForm.description" name="description" class="form-control" :class="{ 'is-invalid': productForm.errors.has('description') }" id="description" placeholder="Insert Product Description">
                                    <has-error :form="productForm" field="description"></has-error>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label class="col-sm-2 col-form-label" >Previous Image</label>
                                <div class="col-sm-6">
                                    <img :src="product.image" width="120px" height="80px">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label for="image" class="col-sm-2 col-form-label" >Select Image</label>
                                <div class="col-sm-6">
                                    <input type="file" name="image" @change="selectFile" class="form-control" :class="{ 'is-invalid': productForm.errors.has('image') }" id="image">
                                    <has-error :form="productForm" field="image"></has-error>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label class="col-sm-2 col-form-label" >Selected Image</label>
                                <div class="col-sm-6">
                                    <img :src="image" width="120px" height="80px">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label class="col-sm-2"></label>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Form } from 'vform';
import {objectToFormData} from "object-to-formdata";
export default {
    data(){
        return {
            productForm: new Form({
                name: '',
                category_id: '',
                price: '',
                quantity: '',
                description: '',
                image: '',
            }),
            product: '',
            categories: '',
            sort: 'Choose...',
            image: null,
            photo: ''
        }
    },
    methods: {
        updateProduct(){
            let id = this.$route.params.id;
            this.productForm.put(`/api/product/${id}`, {
                transformRequest: [function (data, headers) {
                    console.log(data);
                    return objectToFormData(data)
                }],
                onUploadProgress: e => {
                    // Do whatever you want with the progress event
                    console.log(e)
                }
            })
            .then((response) => {
                console.log(response);
                // this.$router.push({name: 'product-list'})
                this.$toast.success({
                    title:'success',
                    message:'Product Created Successfully'
                })
            })
            .catch(error => {
                this.$toast.error({
                    title:'error',
                    message: error.message
                })
            });
        },
        loadProduct(){
            let id = this.$route.params.id;
            axios.get(`/api/product/${id}/edit`)
                .then(response => {
                    this.productForm.name = response.data.name;
                    this.productForm.category_id = response.data.category.id;
                    this.productForm.price = response.data.price;
                    this.productForm.quantity = response.data.quantity;
                    this.productForm.description = response.data.description;
                    this.product = response.data;
                })
        },
        loadCategories(){
            axios.get('/api/category')
                .then(response => {
                    this.categories = response.data
                })
        },
        filter() {
            let data = this.sort;
            this.productForm.category_id = data;
        },
        selectFile(event){
            const file = event.target.files[0];
            // console.log(file);
            // const img_file = {transformRequest: [function (file, headers) {
            //     return objectToFormData(file)
            // }]};
            // console.log(img_file);
            this.productForm.image = file;
            this.image = URL.createObjectURL(file);
        }

    },
    mounted() {
        this.loadProduct();
        this.loadCategories();
        this.filter()
    }
}

</script>

<style scoped>

</style>

