<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3>Product List</h3>
                        <router-link :to="{name: 'product-create'}" class="btn btn-success">Create Product</router-link>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Image</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(product, index) in products" :key="product.id">
                                <th>{{ index+1 }}</th>
                                <th>{{ product.name }}</th>
                                <td>{{ product.category.name }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>
                                    <img :src="product.image" width="120px" height="80px">
                                </td>
                                <td>
                                    <router-link :to="{name: 'product-edit', params: {id: product.id }}" class="btn btn-info btn-sm">Edit</router-link>
                                    <a @click.prevent="deleteProduct(product)" href="#" data-toggle="modal" data-target="" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    data(){
        return {
            products: '',
        }
    },
    methods: {
        loadProducts(){
            axios.get('/api/product')
                 .then(response => {
                     this.products = response.data
                 })
        },
        deleteProduct(product){
            swal({
                title: "Are you sure?",
                text: "Are you sure that you want to leave this page?",
                icon: "warning",
                dangerMode: true,
                closeModal: false,
            })
            .then(willDelete => {
                if (willDelete) {
                    axios.delete(`api/product/${product.id}`)
                         .then(() => {
                             swal("Deleted!", "Your imaginary file has been deleted!", "success");
                         });
                    let index = this.products.indexOf(product);
                    this.products.splice(index,1);
                }
            });
        }
    },
    mounted() {
        this.loadProducts();
    }
}
</script>

<style scoped>

</style>
