<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3>Category Create</h3>
                        <router-link :to="{name: 'category-list'}" class="btn btn-success">Category List</router-link>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="createCategory">
                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label for="category" class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-6">
                                    <input type="text" v-model="categoryForm.name" name="name" class="form-control" :class="{ 'is-invalid': categoryForm.errors.has('name') }" id="category" placeholder="Insert Category Name">
                                    <has-error :form="categoryForm" field="name"></has-error>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label class="col-sm-2"></label>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Form } from 'vform';
export default {
    data(){
        return {
            categoryForm: new Form({
                name: '',
            })
        }
    },
    methods: {
        createCategory(){
            this.categoryForm.post('/api/category')
                .then(({ data }) => {
                    this.$router.push({name: 'category-list'})
                    this.categoryForm.name = '';
                    this.$toast.success({
                        title:'success',
                        message:'Category Created Successfully'
                    })
                })
                .catch(error => console.log(error));
        }

    }
}
</script>

<style scoped>

</style>
