<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3>Category Edit</h3>
                        <router-link :to="{name: 'category-list'}" class="btn btn-success">Category List</router-link>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="updateCategory">
                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label for="category" class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-6">
                                    <input type="text" v-model="categoryForm.name" name="name" class="form-control" :class="{ 'is-invalid': categoryForm.errors.has('name') }" id="category" placeholder="Insert Category Name">
                                    <has-error :form="categoryForm" field="name"></has-error>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2"></div>
                                <label class="col-sm-2"></label>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary">Update Category</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Form } from 'vform';
import { objectToFormData } from 'object-to-formdata';
export default {
    data(){
        return {
            categoryForm: new Form({
                name: '',
            })
        }
    },
    methods: {
        updateCategory(){
            let id = this.$route.params.id;
            this.categoryForm.put(`/api/category/${id}`)
                .then(() => {
                    this.$toast.success({
                        title:'success',
                        message:'Category Updated Successfully'
                    })
                })
                .catch(error => console.log(error));
        },
        loadSingleCategory(){
            let id = this.$route.params.id;
            axios.get(`/api/category/${id}/edit`)
                .then(response => {
                    this.categoryForm.name = response.data.name;
                })
                .catch(error => console.log(error))
        }

    },
    mounted() {
        this.loadSingleCategory();
    }
}
</script>

<style scoped>

</style>
