<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3>Category List</h3>
                        <router-link :to="{name: 'category-create'}" class="btn btn-success">Create Category</router-link>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Slug</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(category,index) in categories" :key="category.id">
                                <th>{{ index+1 }}</th>
                                <td>{{ category.name }}</td>
                                <td>{{ category.slug }}</td>
                                <td>
                                    <router-link :to="{name: 'category-edit', params: {id: category.id }}" class="btn btn-info btn-sm">Edit</router-link>
                                    <a @click.prevent="deleteCategory(category)" href="#" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            categories: ''
        }
    },
    methods: {
        loadCategories(){
            axios.get('/api/category')
                 .then(response => {
                     this.categories = response.data
                 })
        },
        deleteCategory(category){
            axios.delete(`/api/category/${category.id}`)
                 .then(() => {
                     this.$toast.success({
                         title:'success',
                         message:'Category Deleted Successfully'
                     })
                 })
            let index = this.categories.indexOf(category);
            this.categories.splice(index,1);
        }
    },
    mounted() {
        this.loadCategories()
    }
}
</script>

<style scoped>

</style>
