<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <h3 class="card-header text-center">Admin Login</h3>

                    <div class="card-body">
                        <form method="POST" @submit.prevent="adminLogin">
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-sm-6">
                                    <input type="text" v-model="loginForm.email" name="email" class="form-control" :class="{ 'is-invalid': loginForm.errors.has('email') }" id="email" placeholder="Insert Email Address">
                                    <has-error :form="loginForm" field="email"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-sm-6">
                                    <input type="text" v-model="loginForm.password" name="password" class="form-control" :class="{ 'is-invalid': loginForm.errors.has('password') }" id="password" placeholder="Insert Password">
                                    <has-error :form="loginForm" field="password"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" id="remember">

                                        <label class="form-check-label" for="remember">Remember Me</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>

                                    <a class="btn btn-link" href="">
                                        Forgot Your Password?
                                    </a>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {Form} from "vform";

export default {
    data(){
        return {
            loginForm: new Form({
                email: '',
                password: ''
            })
        }
    },
    methods: {
        adminLogin(){
            this.loginForm.post('/api/login')
                .then(() => {
                    this.$router.push({name: 'home'})
                    this.$toast.success({
                        title:'success',
                        message:'Admin logged in',
                    })
                })
                .catch(error => {
                    this.$toast.error({
                        title:'error',
                        message:error.message
                    })
                })

        }
    }
}
</script>

<style scoped>

</style>
